button {
    background: #ffffff;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 8px;
    height: 32px;
    width: 32px;
    cursor: pointer;
}
input {
    border: 0;
}
h1 {
    margin-left: 45px;
}
.search {
    padding: 10px;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
}
.banner {
    position: relative;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    flex: 1;
    img {
        position: relative;
        width: 100%;
        height: 450px;
        border-radius: 20px;
    }
}
